@{
    ViewData["Title"] = "Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card form-control">
    <div class="card-title" style="font-size:larger;font-weight:bold;font-style:oblique">
        Indus Super Speciality Hospital Panchkula
    </div>
    <div class="card-body col-12" style="">
        <div claas="box-title" Style="color:black;font-weight:bold;font-style:oblique;font-size:large">Select Which Ward Patient You Want On Screen</div>
        <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="Ward" asp-action="Index" asp-route-id="PRIVATE ROOM (First Floor)">PRIVATE ROOM (First Floor)</a><br />
              
</div>
</div>

